/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */





/*-------------------------------------------- Custom properties --------------------------------------------*/

:root {
    --principal: #c2185b;
    --primarioOscuro: rgb(156,10,69);
    --secundario: #FFC107;
    --fuentePrimaria: 'Arial', Helvetica, sans-serif;
    --fuenteSecundaria: 'Poppins', sans-serif;

    
}


/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}





body {
    background-color: var(--principal);
    font-family: var(--fuentePrimaria);
}

.contenedor {
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.sombra {
    -webkit-box-shadow: 0px 7px 4px -2px rgba(0,0,0,0.61);
-moz-box-shadow: 0px 7px 4px -2px rgba(0,0,0,0.61);
box-shadow: 0px 7px 4px -2px rgba(0,0,0,0.61);
    border-radius: 10px;
}

.bg_amarillo {
    background-color: var(--secundario);
}

.bg_blanco{
    background-color: white;
}

.barra{
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
}
/* botones */
.btn{
    font-size: 2rem;
    text-decoration: none;
}

.btn_editar{
    color: var(--secundario);
}

.btn_borrar{
    color: var(--principal) !important;
}

.volver{
    background-color: var(--secundario);
    border-radius: 5px;
    text-align: center;
    color: #000000;
    font-weight: 1.2rem;
    font-size: 1.2rem;
    padding: .5rem;


}

h1,h2{
    font-family: var(--fuenteSecundaria);
    text-align: center;
    margin: 0;
}

h1{
    padding: 20px;
    color: white;
}

h2{
    font-size: 2rem;
    color: var(--principal);
}
.contenedor_barra{
    background-color: var(--primarioOscuro);
}

/*-------------------------------------------- Formulario --------------------------------------------*/
form{
    padding: 3rem;
    margin-top: 2rem;

}

form legend{
    font-family: var(--fuenteSecundaria);
    font-size: 2rem;
    text-align: center;
}

legend span{
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    clear: both;
    display: block;
}

@media (min-width:798px){
    .campos{
        display: flex;
        justify-content: space-around;
    }
    
    .campo{
        flex: 0 0 calc(33.3% - 1rem);
    }

}

.campo{
    padding: .5rem 0;
}

.campo label{
    font-size: 1.2rem;
}

.campo input[type="password"],
.campo input[type="text"]{
    width: 100%;
    border: none;
    padding: .5rem;
    height: 3rem;
    margin-top: .5rem;
    font-size: 1.2rem
}

.enviar{
    display: flex;
    justify-content: flex-end;
    
}


.enviar input[type="submit"],
.enviar input[type="button"]{
    background-color: var(--principal);
    border: none;
    color: white;
    padding: 1rem 4rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color .5s ease-in-out;
    flex: 1;
}

.enviar input[type="submit"]:hover,
.enviar input[type="button"]:hover{
    cursor: pointer;
    background-color: var(--primarioOscuro);
}



@media (min-width:798px){
    .enviar input[type="submit"],
    .enviar input[type="button"]
    {
        
        flex: 0 0 auto;
    }
}


/*-------------------------------------------- Listado de contactos ---------------------------------------------*/


.lista_elementos{
    text-align: center;
}

.contactos{
    padding: 2rem;
    margin-top: 3rem;
}

.contenedor_contactos{
    max-width: 800px;
    margin: 4rem auto 0 auto;
    
}

.total_contactos{
    margin: 2rem 0;
    text-align: center;
    color: var(--principal);
    font-size: 2rem;
}

.total_contactos span{
    font-family: var(--fuenteSecundaria);
    font-size: 3rem;
    font-weight: 900;
}

.buscador{
    width: 100%;
    border: 1px solid #e1e1e1;
    height: 4rem;
    padding: 1rem;
}



.listado_contactos{
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
}

.listado_contactos thead{

    background-color: var(--principal);
    color: white;
    text-transform: uppercase;
}

.listado_contactos thead th{
    padding: 1rem 0;
    
}

.listado_contactos tbody td{
    padding: .5rem;
}

.listado_contactos tbody td:nth-child(4){
    text-align: center;
}



.listado_contactos button{
    background-color: transparent!important;
    border: none;
}



/* Notificaciones */
.notificacion{
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 1rem 3rem;
    opacity: 0;
    transition: opacity .5s ease-in-out;

}
.visible{
    opacity: 1;

}


/* colores de la .notificacion */

.correcto{
    background-color: rgb(179, 241, 117);
    color: green;
}

.error{
    background-color: rgb(238, 148, 166);
    color: rgb(163, 0, 33);
}


/* Botones administrador */

.btn_admin{
    
    background-color: var(--secundario);
    border-radius: 5px;
    text-align: center;
    /* text-transform: uppercase; */
    color: #000000;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem;


}

.contenedor_botones{
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
}



/*------------------------------------------------- Nuevo usuario --------------------------------------*/




@media (min-width:798px){
    .campos_usuario{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .campos_usuario > div{
        width: 40%;
        margin: 0 20px;
    }

}

.campo_usuario{
    padding: .5rem 0;
}

.campo_usuario label{
    font-size: 1.2rem;
}

.campo_usuario input[type="password"],
.campo_usuario input[type="text"],
select{
    width: 100%;
    border: none;
    padding: .5rem;
    height: 3rem;
    margin-top: .5rem;
    font-size: 1.2rem
}

.campo_usuario input[type="submit"]{
    margin: 0 20px;
}

/*----------------------------------------  Modificar 1-------------------------------------*/

form.modificar_1 legend{
    border: none;
}

.enviar{
    margin-top: 3rem;
}








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
